.MatchDetailCard{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    .vs {
        font-size: 2rem;
        margin: 10px;
        padding: 0 10px;
    }

    .primary-details{
        margin: 0.5rem;
    }

    .match-date, .match-venue, .match-result {
        margin-top: 0.75rem;
    }

    .additional-details{
        margin: 0.5rem;
        text-align: right;
        & > p{
            margin-bottom: 0.75rem;
        }
    }

    

}