.MatchSmallCard{
    
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    .vs{
        font-size: 2rem;
    }


    .match-date, .match-venue, .match-result {
        margin-top: 1rem;
    }

    .match-result{
        margin-top: 1rem;
    }

}