.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    

    .team-name-section {
        grid-column: span 3;
        justify-self: start;
        align-self: end; 
    }
    
    .team-name {
        font-size: 4rem;
        padding-bottom: 1rem;
    }

    .win-loss-section{
        justify-self: center;
        align-self: center;
        padding: 1rem;
        text-align: center;

        .win-lose-title{
            font-size: 1.5rem;
            padding: 0.5rem;
        }
    }

    .match-detail-section{
        grid-column: span 4;

        .match-detial-title{
            font-size: 2rem;
            padding-bottom: 0.5rem;
        }
    }

    .more-link{
        align-self: center;
        justify-self: center;
        font-size: 2rem;
    }

}